<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>hbnb</title>
    <link rel="stylesheet" href="static/styles/4-common.css?{{ cache_id }}">
    <link rel="stylesheet" href="static/styles/3-header.css?{{ cache_id }}">
    <link rel="stylesheet" href="static/styles/3-footer.css?{{ cache_id }}">
    <link rel="stylesheet" href="static/styles/6-filters.css?{{ cache_id }}">
    <link rel="stylesheet" href="static/styles/7-places.css?{{ cache_id }}">
    <link rel="shortcut icon" href="static/images/icon.png?{{ cache_id }}" type="image/x-icon">
</head>
<body>
    <header>
        <div class="logo"></div>
    </header>

    <div class="container">
        <section class="filters">
            <div class="locations">
                <h3>States</h3>
                <h4>&nbsp;</h4>
                    <ul class="popover">
                        {% for state in states %}
                            <li><b>{{ state.name }}</b></li>
                            <ul>
                                {% for city in cities_by_state[state.id] %}
                                    <li>{{ city.name }}</b></li>
                                {% endfor %}
                            </ul>
                        {% endfor %}
                    </ul>
            </div>
            <div class="amenities">
                <h3>Amenities</h3>
                <h4>&nbsp;</h4>
                <ul class="popover">
                    {% for amenity in amenities %}
                        <li>{{ amenity.name }}</li>
                    {% endfor %}
                </ul>
            </div>
            <button class="button">Search</button>
        </section>

        <section class="places">
            <h1>Places</h1>
            {% for place in places %}
            <article>
                <div>
                    <div class="coustom_h2"><h2>{{ place.name }}</h2></div>
                    <div class="price_by_night">
                        <div class="price">
                            <p>{{ place.price_by_night }}</p>
                        </div>
                    </div>
                    <div class="information">
                        <div class="max_guest">
                            <div class="info_text"> {{ place.max_guest }} Guest{% if place.max_guest > 1 %}s{% endif %} </div>
                        </div>
                        <div class="number_rooms">
                            <div class="info_text"> {{ place.number_rooms }} Bedroom{% if place.number_rooms > 1 %}s{%endif%} </div>
                        </div>
                        <div class="number_bathrooms">
                            <div class="info_text">{{ place.number_bathrooms }} Bathroom{% if place.number_bathrooms > 1 %}s{%endif%} </div>
                        </div>
                    </div>
                    <div class="user">
                        <p> <strong>Owner</strong>: {{ place.user.first_name }} {{ place.user.last_name }}</p>
                    </div>
                    <div class="description">
                        <p> {{ place.description | safe }} </p>
                    </div>
                </div>
        </article>
            {% endfor %}
        </section>
    </div>
    <footer>Best School</footer>
</body>
</html>