.places {
    font-size: 30px;
    text-align: top left;
}

article {
    width: 390px;
    padding: 20px;
    margin: 20px;
    border: 1px solid #FF5A5F;
    border-radius: 4px;
    display: inline-block;
    text-align: center;
    position: relative;
}

.a_suit{
    margin-left: 28%;
}

.price_by_night {
    color: red;
    border: 4px solid #FF5A5F;
    border-radius: 100%;
    min-width: 60px;
    height: 80px;
    width: 80px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 30px;
    margin-left: 78%;
    position: absolute;
    top: 20px;
    right: 20px;
}

.place_type {
    display: inline;
}
/*
.places h2 {
    width: 100%;
    margin: auto;
    text-align: left;
    font-size: larger;
    margin-bottom: 15px;
}*/
.coustom_h2 {
    max-width: 78%;
    display: flex;
    flex-direction: column;
    justify-content: left;
    text-align: left;
    font-size: 25px;
}

.information {
    height: 100px;
    border-top: 1px solid #DDDDDD;
    border-bottom: 1px solid #DDDDDD;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    margin: auto;
    visibility: visible;

}

.max_guest {
    display: flex;
    width: 100px;
    height: 100%;
    margin: auto;
    background: url(../images/icon_group.png) no-repeat center center;
}

.number_rooms {
    display: flex;
    width: 100px;
    height: 100%;
    margin: auto;
    background: url(../images/icon_bed.png) no-repeat center center;
}

.number_bathrooms {
    display: flex;
    width: auto;
    height: auto;
    margin: auto;
    background: url(../images/icon_bath.png) no-repeat center center;
}

.info_text {
    width: 100%;
    margin: auto;
    font-size: large;
    padding-top: 60%;
    display: flex;
    justify-content: center;
    align-items: center;
}
.user {
    display: flex;
    font-size: large;
    margin-bottom: -6%;
}
.description {
    font-size: initial;
    text-align: initial;
}

span {
    position: absolute;
    left: 43%;
    font-size: x-small;
    width: 20%;
    top: 15%;
    font-weight: 500;
    left: 34%;
}

.show-review-button {
    display: inline-block;
    padding: 5px 10px;
    background-color: #f0f0f0;
    border: 1px solid #ccc;
    border-radius: 20px;
    cursor: pointer;
    color: #333;
    width: auto;
    height: auto;
    top: 10px;
}
.show-review-button:hover {
    opacity: 80%;
}